# 🐍 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.log

# 📦 Environment
.env
.venv/
venv/
env/
ENV/
*.env

# 📚 IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 📦 Package & Build
dist/
build/
*.egg-info/
.eggs/
*.whl

# 📊 Jupyter & Streamlit
.ipynb_checkpoints/
.streamlit/

# 💣 OS / Misc
.DS_Store
Thumbs.db

# 🚀 Python dependency lock
poetry.lock
Pipfile.lock
